#preloader {
  position: fixed;
  inset: 0;
  background: #ffffff;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.6s ease;
}

.preloader-logo {
  width: 100px;
  opacity: 0;
  transform: scale(0.96);
  animation: logoReveal 1.2s ease forwards;
}

@keyframes logoReveal {
  to {
    opacity: 1;
    transform: scale(1);
  }
}