@font-face {
  font-family: 'horizon';
  src: url('horizon.otf') format('opentype');
}

@font-face {
  font-family: 'horizon_outlined';
  src: url('horizon_outlined.otf') format('opentype');
}

/* ================= DESKTOP ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  width: 100%;
}

/* ================= HERO OVERLAY ================= */
.hero {
  position: relative;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  pointer-events: none;
}

/* MAIN TITLE */
.hero-title {
  font-family: "Horizon";
  font-size: 40px;
  letter-spacing: 2px;
}

/* OUTLINE SUBTITLE */
.hero-subtitle {
  font-family: "horizon_outlined";
  font-size: 20px;
  letter-spacing: 5px;
  margin-bottom: -40px;
}

/* CTA */
.hero-cta {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 5px;
  text-decoration: none;
  color: #fff;
  margin-top: 100px;
  margin-bottom: -70px;
  pointer-events: auto;
}

.stack {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.media-wrapper {
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-wrapper img,
.media-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {

   .hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-title {
  font-family: "Horizon";
  font-size: clamp(28px, 5vw, 64px);

  margin-bottom: 12px;
  color: black;
}

/* OUTLINE SUBTITLE */

/* MAIN TITLE */
.hero-title {
  font-family: "Horizon";
  font-size: 20px;
  letter-spacing: 2px;
  color: black;
}

/* OUTLINE SUBTITLE */
.hero-subtitle {
  font-family: "horizon_outlined";
  font-size: 10px;
  letter-spacing: 5px;
  margin-bottom: 70px;
  color: black;
}

/* CTA */
.hero-cta {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  letter-spacing: 5px;
  text-decoration: none;
  color: #fff;
  
  margin-top: 40px;
  pointer-events: auto;
  color: black;
}

  .stack {
    min-height: 100vh;
  }

  .media-wrapper {
    width: 100vw;
    height: 100vh;
    max-width: none;
    aspect-ratio: auto;
  }

  .media-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
